@import "./normalize";

// <Vars >
$primary-color: #191919;
$dark-color: #000000;
$light-color: #ffffff;
$orange-color: #f7b516;
// <Vars />

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

// <Utilities >
.container {
  max-width: 1170px;
  margin: 0 auto;
}
// <Utilities />

// <Header>
.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  // <nav>
  &_nav {
    background-color: $primary-color;
    color: $light-color;
    &_inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1em 0;
      &_logo {
        display: flex;
        align-items: center;
        img {
          height: 50%;
        }
        img:first-child {
          margin-right: 1rem;
        }
      }
      &_time {
        font-size: 12px;
        line-height: 24px;
        font-weight: bold;
      }
      &_call {
        display: flex;
        align-content: baseline;
        height: 100%;
        &_phones {
          font-size: 18px;
          line-height: 21.6px;
          font-weight: 900;
          margin-right: 2rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
        &_button {
          display: flex;
          align-items: center;
          button {
            border: none;
            background: linear-gradient(to right, #1c62ac, #273588);
            color: $light-color;
            padding: 1rem 2rem;
            cursor: pointer;
          }
        }
      }
    }
    // <nav />
  }
  // <showcase>
  .showcase {
    background-image: url("../images/showcase.png");
    background-size: 100% 100%;
    height: 100%;
    .showcase_inner {
      display: flex;
      height: 100%;
      &_content {
        background-color: $orange-color;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        color: $dark-color;
        flex-basis: 50%;
        padding: 4rem;
        &_title {
          font-weight: 700;
          line-height: 55px;
          font-size: 2.5rem;
        }
        &_subtitle {
          line-height: 30px;
          font-size: 1.5rem;
        }
        &_advantages {
          &_advantage {
            display: flex;
            align-items: center;
            padding-bottom: 2rem;
            font-size: 18px;
            line-height: 21.6px;
            &_ico {
              margin-right: 2rem;
              width: 30px;
              height: 30px;
              display: flex;
              img {
                height: 100%;
              }
            }
          }
        }
      }
    }
  }
  // <showcase />
}
// <Header />

// < getPrice >
.getPrice {
  background-image: url("../images/getPrice.png");
  background-size: 100% 100%;
  text-align: right;
  &_inner {
    height: 100%;
    padding: 100px 0;
    &_title {
      font-size: 2rem;
      line-height: 2rem;
      padding-bottom: 1.5rem;
    }
    &_form {
      &_inputs {
        display: flex;
        justify-content: flex-end;
        padding-bottom: 1.5rem;
        &_input {
          flex-basis: 370px;
          position: relative;
          &:first-child {
            margin-right: 30px;
          }
          &_icon {
            position: absolute;
            right: 2rem;
            top: 38%;
            img {
            }
          }
          input {
            width: 100%;
            padding: 30px 25px;
            background: #f2f2f2;
            color: #818181;
            border: none;
            font-size: 13px;
          }
        }
      }
      &_submit_wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        &_time {
          display: flex;
          flex-basis: 370px;
          margin-right: 30px;
          font-size: 14px;
          line-height: 20px;
          &_label {
            margin-right: 30px;
          }
        }
        &_btn {
          flex-basis: 370px;
          button {
            width: 100%;
            padding: 30px 100px;
            border: none;
            background-color: #1866af;
            color: $light-color;
            font-size: 1rem;
          }
        }
      }
    }
  }
}
// < getPrice />

// < Wait>
.wait {
  background-color: #08243e;
  color: #ffffff;
  text-align: center;
  padding: 85px;
  &_inner {
    &_title {
      font-size: 36px;
      line-height: 43.2px;
    }
    &_subtitle {
      font-size: 20px;
      line-height: 24px;
      padding-top: 1rem;
      padding-bottom: 100px;
    }
    &_boxes {
      display: flex;
      align-items: baseline;
      &_box {
        flex: 1;
        flex-basis: 210px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &_icon {
          display: flex;
          justify-content: center;
          img {
          }
        }
        &_desc {
          font-size: 18px;
          line-height: 21.6px;
          padding-top: 50px;
        }
      }
    }
  }
}
// < Wait />

// < Seek >
.seek {
  background-image: url("../images/seek.png");
  background-size: 100% 100%;
  color: #ffffff;
  text-align: center;
  &_inner {
    padding-top: 100px;
    padding-bottom: 60px;
    &_title {
      font-size: 30px;
      line-height: 36px;
    }
    &_subtitle {
      font-size: 20px;
      line-height: 24px;
      padding-top: 1rem;
      padding-bottom: 2rem;
      max-width: 60%;
      margin: 0 auto;
    }
    &_formContainer {
      &_form {
        display: flex;
        justify-content: space-between;
        &_field {
          flex: 1;
          &:nth-child(2n) {
            margin: 0 30px;
          }
          input {
            padding: 30px 25px;
            width: 100%;
            background-color: #ffffff;
            color: #818181;
            font-size: 13px;
            line-height: 1rem;
          }
          button {
            width: 100%;
            padding: 30px 25px;
            color: #ffffff;
            background-color: $orange-color;
            border: none;
          }
        }
      }
    }
    &_info {
      padding-top: 54px;
      font-size: 14px;
      line-height: 1rem;
    }
    &_propose {
      font-size: 14px;
      padding-top: 0.5rem;
      line-height: 1rem;
    }
    &_phone {
      font-size: 30px;
      line-height: 36px;
      padding-top: 1rem;
    }
  }
}
// < Seek />

// < GUARANTEE >
.guarantee {
  text-align: center;
  &_inner {
    padding: 100px;
    &_title {
      font-size: 36px;
      line-height: 43.2px;
      padding-bottom: 100px;
    }
    &_items {
      display: flex;
      &_item {
        flex: 1;
        text-align: center;
        font-size: 18px;
        &_desc {
          padding: 2rem 0;
        }
      }
    }
  }
}
// < GUARANTEE />

// < DISCOUNTS >
.discounts {
  background-color: #08243e;
  color: #ffffff;
  text-align: center;
  &_inner {
    padding-top: 90px;
    padding-bottom: 55px;
    &_title {
      font-size: 36px;
      line-height: 43.2px;
      padding-bottom: 90px;
      width: 70%;
      margin: 0 auto;
    }
    &_proposes {
      display: flex;
      &_propose {
        display: flex;
        flex-direction: column;
        align-items: center;
        &_value {
          border-radius: 50%;
          border: 2px solid #ffffff;
          display: flex;
          width: 100px;
          height: 100px;
          justify-content: center;
          align-items: center;
          margin-bottom: 30px;
        }
        &_desc {
          width: 90%;
          margin: 0 auto;
        }
      }
    }
  }
}
// < DISCOUNTS />

// < QUESTIONS >
.questions {
  background-color: #0b3554;
  color: #ffffff;
  text-align: center;
  &_inner {
    padding-top: 85px;
    padding-bottom: 100px;
    &_title {
      font-size: 36px;
      line-height: 43.2px;
    }
    &_subtitle {
      font-size: 20px;
      line-height: 24px;
      padding-top: 20px;
      padding-bottom: 70px;
    }
    &_answers {
      display: flex;
      &_list {
        flex: 1;
        text-align: left;
        ol {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
        li {
          list-style: none;
          padding-bottom: 30px;
          text-decoration: underline;
          cursor: pointer;
          &:hover {
            color: #579eff;
            text-decoration: none;
          }
        }
        &_num {
          display: inline-block;
          padding-right: 25px;
          img {
            transform: translateY(5px);
          }
        }
      }
      &_img {
        flex: 1;
        position: relative;
        img {
          width: 100%;
        }
        &_title {
          position: absolute;
          text-align: left;
          bottom: 1px;
          span {
            position: relative;
            z-index: 2222;
            display: inline-block;
            padding: 10px 10px;
            width: 270px;
          }

          &::before {
            position: absolute;
            content: "";
            background-color: #0b3554;
            opacity: 0.8;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1111;
          }
        }
      }
    }
  }
}
// < QUESTIONS />

// < COMFORT >
.comfort {
  &_inner {
    padding-top: 85px;
    padding-bottom: 100px;
    text-align: center;
    &_title {
      font-size: 36px;
      line-height: 43.2px;
    }
    &_subtitle {
      font-size: 20px;
      line-height: 24px;
      padding-top: 20px;
      padding-bottom: 70px;
    }
    &_items {
      display: flex;
      align-items: center;
      &_item {
        &_desc {
          padding-top: 40px;
          max-width: 55%;
          margin: 0 auto;
        }
      }
    }
  }
}
// < COMFORT />

// < WAREHOUSE >
.warehouse {
  background-color: #0b3554;
  color: #ffffff;
  text-align: center;
  &_inner {
    padding-bottom: 100px;
    padding-top: 85px;
    &_title {
      font-size: 36px;
      line-height: 43.2px;
    }
    &_subtitle {
      font-size: 20px;
      line-height: 24px;
      padding-bottom: 75px;
      padding-top: 20px;
      max-width: 65%;
      margin: 0 auto;
    }
    &_slider_wrapper {
      position: relative;
      &_images {
        display: flex;
        &_image {
          flex: 1;
        }
      }
      &_arrow_left {
        position: absolute;
        left: 15px;
        top: 45%;
        cursor: pointer;
      }
      &_arrow_right {
        position: absolute;
        right: 15px;
        top: 45%;
        cursor: pointer;
      }
    }
  }
}
// < WAREHOUSE />

// < SERVICE >
.service {
  text-align: center;
  &_inner {
    padding-bottom: 100px;
    padding-top: 85px;
    &_title {
      font-size: 36px;
      line-height: 43.2px;
    }
    &_items {
      display: flex;
      padding-top: 55px;
      &_item {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        &_icon {
          border: 5px solid $orange-color;
          border-radius: 50%;
          width: 170px;
          height: 170px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 33px;
        }
        &_desc {
          font-size: 18px;
          line-height: 21.6px;
        }
      }
    }
  }
}
// < SERVICE />

// < CONSULT >
.consult {
  background-image: url("../images/service.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #ffffff;
  text-align: center;
  &_inner {
    padding-bottom: 100px;
    padding-top: 85px;
    &_title {
      font-size: 30px;
      line-height: 36px;
    }
    &_message {
      padding-top: 55px;
      font-size: 14px;
      line-height: 16.8px;
    }
    &_phone {
      font-size: 30px;
      line-height: 36px;
    }
    &_wrapper {
      padding-top: 55px;
      &_form {
        display: flex;
        justify-content: center;
        &_item {
          flex: 1;
          max-width: 370px;
          input,
          button {
            width: 100%;
            padding: 30px 25px;
          }
          input {
            color: #818181;
            font-size: 13px;
            line-height: 15.6px;
          }
          button {
            color: #ffffff;
            background-color: $orange-color;
            height: 100%;
            border: none;
          }
          &:first-child {
            margin-right: 30px;
          }
        }
      }
    }
  }
}
// < CONSULT />

// < COME >
.come {
  background-image: url("../images/come.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: $dark-color;
  text-align: center;
  &_inner {
    padding-bottom: 100px;
    padding-top: 85px;
    &_title {
      font-size: 30px;
      line-height: 36px;
    }
    &_adress {
      padding-top: 55px;
      padding-bottom: 23px;
      font-size: 18px;
      line-height: 21.6px;
    }
    &_phone {
      font-size: 24px;
      line-height: 28.8px;
    }
  }
}
// < COME />

// < MAP >
.map {
  &_wrapper {
    display: flex;
    img {
      flex: 1;
      height: 375px;
      padding: 0;
      margin: 0;
    }
  }
}
// < MAP / >

// < FOOTER >
.footer {
  background-color: $dark-color;
  color: #ffffff;
  &_inner {
    padding: 40px;
    &_logo {
      display: flex;
      align-items: center;
      img:first-child {
        margin-right: 20px;
      }
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
}
// < FOOTER />
